<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Become Member</title>
</head>
<body>
    <%- include('sections/header') %>
    <% if(user.is_member) { %>
        <p>You are already a member</p>
        <form action="/member-status/remove" method="POST">
            <button type="submit">Remove membership</button>
        </form>
        
    <% } else { %>
            <p>To become a member you must answer the riddle:</p>
        <div>
            <p>I say it once and never twice.</p>
            <p>So when it's done, it's made to splice.</p>
            <br>
            <p>Though copy-paste feels like it's quick.</p>
            <p>Who needs a module for this little trick.</p>
            <br>
            <p>But when it's done, if something breaks.</p>
            <p>That's when the stakeholder awakes.</p>        
        </div>
        <div>
            <button id="hintButton">SHOW HINT</button>
            <p style="display:none" id="hint">A coding principle with a three letter capitalized acronym</p> 
        </div>
        <div>
            <button id="answerButton">SHOW ANSWER</button>
            <p style="display:none" id="answer">DRY</p>
        </div>
        <form action="/member-status/add" method="POST">
            <div>
                <div class="inputContainer">
                    <input type="text" name="membershipPassword" id = membershipPassword required placeholder="">
                    <label for="membershipPassword">Membership Password</label>
                </div>
            </div>
        <% if(message) { %>
            <div class="wrongInput">
                <p><%= message %></p>
            </div>
        <% } %>
            <button type="submit">Become a member</button>
        </form>
    <% } %>
    <%- include('sections/footer') %>
    <script>
        const showText = (button, textblock) => {
            document.getElementById(button).addEventListener('click', function(){
                document.getElementById(textblock).style.display = 'block';
                this.style.display = 'none';
            });
        }
        showText("hintButton", "hint");
        showText("answerButton", "answer");
    </script>
</body>
</html>
