@import '/forms.css';

:root{
    --primary-color: rgb(51, 45, 86);
    --secondary-color: rgb(78, 102, 136);
    --tertiary-color: rgb(113, 192, 187);
    --quarternary-color: rgb(227, 238, 178);
    --invalid-input-color: red;
    --text-color: var(--quarternary-color);
}

*{
    margin: 0px;
    padding: 0px;
    background: inherit;
    color: var(--text-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    padding: 36px;
    margin-bottom: 48px;
    box-sizing: border-box;
    background-color: var(--primary-color);
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--secondary-color);
}


.blurry{
    filter: blur(2px)
}

footer{
    display: flex;
    align-self: end;
    justify-content: space-around;
    align-items: center;
    min-height: 48px;
    width: 100vw;
    margin-top: 48px;
    background-color: var(--primary-color);
}
