@import '/forms.css';
@import '/messages.css';
@import '/center.css';

:root{
    --primary-color: rgb(51, 45, 86);
    --secondary-color: rgb(78, 102, 136);
    --tertiary-color: rgb(113, 192, 187);
    --quarternary-color: rgb(227, 238, 178);
    --invalid-input-color: red;
    --text-color: var(--quarternary-color);
}

*{
    margin: 0px;
    padding: 0px;
    background: inherit;
    color: var(--text-color);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--secondary-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    padding: 36px;
    margin-bottom: 48px;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

.blurry{
    filter: blur(2px)
}

.riddleContainer{
    padding: 12px;
    margin: 12px;
    background-color: var(--primary-color);
    border-radius: 8px;
}
.riddleHints{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: var(--primary-color);
    padding: 12px;
    margin: 12px;
    border-radius: 8px;
}

.membershipHintContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

.membershipHintContainer > button,
.membershipHintContainer > p{
    border-radius: 8px;
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
}
.membershipHintContainer > button{
    font-size: 1.2em;
}


#answer{
    font-size: 1.8em;
    line-height: 200%;
}

footer{
    display: flex;
    align-self: end;
    justify-content: space-around;
    align-items: center;
    min-height: 48px;
    width: 100vw;
    margin-top: 48px;
    background-color: var(--primary-color);
}
